<p><em>"Want to learn CSS? Make a front-end like this pretty? I cannot tell you how disappointing the course offering at my school is going to be for you." – Michael Pavling</em></p>
<br><br>
<%= link_to 'Create New Course', new_course_path %><br>
<%= render @courses if can? :index, Course %><br><br>
<%= link_to 'Create New Course', new_course_path %>
