/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  padding-left: 15px;
 }

 body {
   background: white url("crossword.png") repeat center;
   font-family: Geneva;
 }



a {
  text-decoration: none;
  background: #33cc66;
  border-radius: 2px;
  padding: 5px;
}

a:visited, a:link {
  color: black;
}

a:hover {
  color: white;
}

nav {
  margin-left: -50px;
}

nav a {
  text-decoration: none;
  background: lightblue;
  border-radius: 2px;
  padding: 8px;
}

.login {
  float: right;
  margin-top: -45px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

header {
  padding: 5px 0 10px 10px;
}



