<p><em>"You put THIS in your view? REALLY?" – Michael Pavling</em></p><br>
<h2>Instructors</h2>
<ul>
  <% @instructors.each do |instructor| %><br>
  <li><%= instructor.name %><br><br><%= link_to 'Edit', edit_user_path(instructor) if can? :edit, instructor %></li>
  <%end %>
</ul><br><br>
<h2>Students</h2>
<ul>
  <% @students.each do |noninstructor| %><br>
  <li><%= noninstructor.name %><br><br><%= link_to 'Edit', edit_user_path(noninstructor) if can? :edit, noninstructor %></li>
  <% end %>
</ul><br><br>


