<p id="notice"><%= notice %></p>

<p>
  <strong>Timeofday:</strong>
  <%= @coursesession.timeofday %>
</p>

<%= link_to 'Edit', edit_coursesession_path(@coursesession) %> |
<%= link_to 'Back', coursesessions_path %>
